version: 2.1

jobs:
  java-build:
    docker:
      - image: cimg/openjdk:17.0

    steps:
      - checkout

      - run:
          name: Compile Java
          command: javac Hello.java

      - run:
          name: Run Java
          command: java Hello

      - store_artifacts:
          path: Hello.class
          destination: compiled-class

workflows:
  version: 2
  java-workflow:
    jobs:
      - java-build
