version: 2.1

jobs:
  checkout-stage:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run: echo "Checkout completed"

  build-stage:
    docker:
      - image: cimg/openjdk:17.0
    steps:
      - checkout
      - run:
          name: Compile Java
          command: javac Hello.java

  test-stage:
    docker:
      - image: cimg/openjdk:17.0
    steps:
      - checkout
      - run:
          name: Run Java Program
          command: java Hello

workflows:
  version: 2
  pipeline-workflow:
    jobs:
      - checkout-stage
      - build-stage:
          requires:
            - checkout-stage
      - test-stage:
          requires:
            - build-stage
