version: 2.1

jobs:
  hello-job:
    docker:
      - image: cimg/base:stable

    steps:
      - checkout

      - run:
          name: Print Message
          command: echo "Hello CircleCI"

workflows:
  version: 2
  hello-workflow:
    jobs:
      - hello-job
